<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Instagramophone</title>
        
        <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
        <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="../static/assets/css/attempt.css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
        <script type="text/javascript">
            
            var current = 1;
            var tracks = new Array();
            tracks[0] = "";
            tracks[1] = "";
            tracks[2] = "";
            tracks[3] = "";
            tracks[4] = "";
            tracks[5] = "";
            tracks[6] = "";
            tracks[7] = "";
            var recording_id = getURLParameter("recording_id");
            var loading = new Image();
            loading.src = "../static/assets/img/trex.jpg";

            function switch_curr(num){
                var audiobox = document.getElementById("audio-box");
                current = num;
                $("#audio-box").html("");
                while (audiobox.childNodes.length > 0){
                    audiobox.removeChild(audiobox.childNodes[0]);
                }
                if (tracks[current].length == 0){
                    audiobox.appendChild(loading);
                    jQuery.get("/getsounds?filter=" + num + "&recording_id=" + recording_id, function(data){
                        tracks[num] = data;
                        if (data.length > 0 && num == current){
                            $("#audio-box").html("");
                            while(audiobox.childNodes.length > 0){
                                audiobox.removeChild(audiobox.childNodes[0]);
                            }
                            $("#audio-box").html("<iframe width=\"100%\" height=\"166\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F" + tracks[current] + "\"></iframe>");
                        }
                    })

                }
                else{
                     $("#audio-box").html("<iframe width=\"100%\" height=\"166\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F" + tracks[current] + "\"></iframe>");
                }
            
            }


            function getURLParameter(name) {
                return decodeURI(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
            }
        </script>
        
    </head>

    <body>

    <div class="current">
       <h1 id="audio-title">Original Audio</h1>
       <div id="audio-box"></div>
    </div>
    <!--Sound Grid--!>
    <div class="filter-list">
        <h1>Filters</h1>
        <div class="row">
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(0)">Original</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(1)">Reverse</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(2)">Short Echo</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(3)">Long Echo</button>
            </div>
        </div>
        <div class="row">
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(4)">Fast</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(5)">Slow</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(6)">Glacial</button>
            </div>
            <div class = "span2 filter">
                <button class="filter-button" onclick="switch_curr(7)">Satanic</button>
            </div>
        </div>
    </div>
    </body>
</html>
