<!DOCTYPE HTML>
<html lang="en">
    <head>
      <meta charset="utf-8">
        <title>Instagramophone, Audio Recording</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="BananaSuit">

        <!-- Le styles -->
        <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../static/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../static/assets/ico/favicon.ico">
        <script type="text/javascript" src="http://static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript">
            var connection=null;
            var token=null;
			var id = Math.floor(Math.random() * 10000);
            $(document).ready(function(){
                    Twilio.Device.setup("{{token}}", {"debug":true});
                    $("#begin").click(function() {
                        Twilio.Device.connect({
			               id: id
                        })
			        });
                    $("#end").click(function() {  
           			Twilio.Device.disconnectAll();
                        });

                    Twilio.Device.ready(function (device) {
                        $('#status').text('Ready to start recording');
                        });

                    Twilio.Device.offline(function (device) {
                        $('#status').text('Offline');
                        });

                    Twilio.Device.error(function (error) {
                        $('#status').text(error);
                        });

                    Twilio.Device.connect(function (conn) {
                            connection=conn;
                            $('#status').text("On Air");
                            $('#status').css('color', 'red');
                            toggleCallStatus();
                            });

                    Twilio.Device.disconnect(function (conn) {
            $('#status').html('Recording ended<br/><a href=\"/filter?id='+id + '\">Take me to the filters</a>');
                            $('#status').css('color', 'black');
                            toggleCallStatus();

                            });

                    function toggleCallStatus(){
                        $('#begin').toggle();
                        $('#end').toggle();
                    }
            });
</script>
  </head>
  <body>
    <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/"> <img src="../static/assets/img/small.png">
                    </a>
                </div>
            </div>
      </div>
      <h1>Let's Get Started</h1>
      <img src="../static/assets/img/mic.png">
      <p><input type="button" id="begin" value="Start Recording"/></p>
      <input type="button" id="end" value="Stop Recording" style="display:none;"/>
      <div id="status">
          Offline
      </div>
    </div>
  </div>
  </body>
</html>

