<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Instagramophone</title>
        
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="attempt.css" rel="stylesheet">
    </head>

    <body>
    <div class="user-head">
        <div class="row">
            <div class="span2 avatar-box">
                <img src="img/anonymousUser.jpg" class="img-rounded avatar"/>
                <button type="submit" class="btn btn-info edit-profile">Edit Profile</button>
            </div>
            <div class="span2">
                <p id="username">wordnumber</p>
            </div>
            <div class="span3 offset3 head-buttons">
                <button type="submit" class="btn">sounds</button>
                <button type="submit" class="btn">followers</button>
                <button type="submit" class="btn">following</button>
            </div>
        </div>
    </div>

    <!--Sound Grid--!>
    <div class="sound-grid">
        <div class="row sound-row">
            <div class="span9">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75626831"></iframe>
            </div>
        </div>
        <div class="row sound-row">
            <div class="span9">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75626831"></iframe>
            </div>
        </div>
        <div class="row sound-row">
            <div class="span9">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75626831"></iframe>
            </div>
        </div>
        <div class="row sound-row">
            <div class="span9">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75626831"></iframe>
            </div>
        </div>
    </div>
    
    </body>
</html>
